section{
    padding-left: 8px;
    padding-right: 8px;
}

.content, h1{
    text-align: center;
}

.search-input{
    background-color: #90FCA6;
}

#saludo{
    text-align: right;
}

#map { height: 200px; }